<h1 align="center">Product Descriptions: <%= @product.name %></h1>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center description"><strong>Price:</strong><%= @product.price %>
  </h4>
  <div class="product-actions">
    <%= link_to "View all products", products_path, class: "btn btn-xs btn-success" %> | 
    <%= link_to "Delete this products", products_path(@product), method: :delete, 
                                    data: { confirm: "Are you sure you want to delete this product?" },
                                    class: "btn btn-xs btn-danger" %> |
    <%= link_to "Edit this product", edit_product_path, class: "btn btn-xs btn-primary" %>
  </div>
</div>

